.container {
  background-color: #eaeef2;
  height: 61px;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding-inline: 190px;

  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
}

.page-title {
  font-weight: bold;
}

.current-page {
  color: #147bfc;
  pointer-events: none;
}

.divider {
  margin-inline: 16px;
  pointer-events: none;
}
